.top_bar {
    margin: 3px;
    width: 97%;
    height: 60px;
    -webkit-box-shadow: 0px 0px 2px 2px #B3B3B3; 
    box-shadow: 0px 0px 2px 2px #B3B3B3;
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
    color: #333333;
    background: #FFFFFF;
    font-size: 220%;
    padding-left: 1em;
}

.page {
    margin: 10%;
    margin-top: 20px;
}