.car_title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 5%;
    width: 70%;
    float: left;
}

.car_price {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 5%;
    width: 20%;
    float: right;
}

.div_bottom {
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5px;
}

.button_details {
    box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

.car_list {
    list-style-type: none;
}

#page-numbers {
    list-style: none;
    display: flex;
}
  
#page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
}

.pagination { 
    display: inline-block; 
    text-decoration: none; 
    color: black; 
} 
  
.pagination li { 
    font-weight:bold; 
    font-size:20px; 
    color: black; 
    float: left; 
    padding: 8px 16px; 
    text-decoration: none; 
} 
.pagination li.active { 
    border-radius:5px;     
    background-color:#009900; 
} 
.pagination li:hover:not(.active) { 
    background-color: #d4d5d2; 
    border-radius:5px; 
} 

.company_item {
    border: 4px double #1C6EA4;
    border-radius: 14px;
    margin-bottom: 5px;
}

.company_title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 5%;
    width: 100%;
    float: left;
}